{% extends "base.html" %}
{% load i18n comments_xtd %}

{% block title %}{% trans "Flag comment" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}
<section class='container wide'>
  <h3 class="text-center">{% trans "Flag comment?" %}</h3>
  <p class="lead text-center">{% trans "Click on the flag button to mark the following comment as inappropriate." %}</p>
  <div class='container wide w-50'>
    {% include 'comments/comment.html' %}
    {% include 'comments/moderate_form.html' with value="Flag" %}
  </div>
</section>
{% endblock %}

