{% load i18n %}

{% if not comment.is_removed and perms.comments.can_moderate %}
  {% comment %} <a class="mutedlink" href="{% url 'comments-delete' comment.pk %}"><i class="fas fa-trash-alt" title="{% trans 'remove comment' %}"></i></a> {% endcomment %}

  <a href="#deleteCommentModal" class='mutedlink comment-delete' data-bs-target="#deleteCommentModal" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-next="{{ comment.get_absolute_url }}" data-bs-action="{% url 'comments-delete' comment.pk %}"><i class="fas fa-trash-alt" title="{% trans 'delete comment' %}"></i></a>


{% endif %}